@using Models;
@{
    ViewData["Title"] = "Listado de clientes";
    var mensajeAgregado = TempData["mensajeAgregado"] as string;
    var mensajeAdvertenciaAgregar = TempData["mensajeAdvertenciaAgregar"] as string;
    var mensajeActualizado = TempData["mensajeActualizado"] as string;
    var mensajeAdvertencia = TempData["mensajeAdvertencia"] as string;
    var mensajeEliminado = TempData["mensajeEliminado"] as string;
}

@model List<Cliente>

<div class="card p-0">
    <div class="card-header">
        <div class="row">

            <div class="col col-6">
                <h4 class="card-title mt-1">
                    <i class="fa-solid fa-list-check"></i>&nbsp;
                    Lista de clientes
                 </h4>
            </div>

            <div class="col col-6 text-end">
                <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Add">
                    <button type="button" class="btn btn-primary">
                        <i class="fa-solid fa-plus"></i>
                        Agregar Cliente
                    </button>
                </a>
            </div>

        </div>
    </div>
    <div class="card-body py-1">
        <div class="table-responsive" style="height:600px;overflow-x: auto;">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Rut</th>
                        <th scope="col">Razon social</th>
                        <th scope="col">Nombre contacto</th>
                        <th scope="col">Correo contacto</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Actividad Empresa</th>
                        <th scope="col">Tipo Empresa</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        @foreach (var cliente in Model)
                        {
                            <tr>
                                <th scope="row">@cliente.RutCliente</th>
                                <td>@cliente.RazonSocial</td>
                                <td>@cliente.NombreContacto</td>
                                <td>@cliente.MailContacto</td>
                                <td>@cliente.Direccion</td>
                                <td>@cliente.Telefono</td>
                                <td class="text-center">@cliente.IdActividadEmpresa</td>
                                <td class="text-center">@cliente.IdTipoEmpresa</td>
                                <td class="text-center">
                                    <a asp-action="Edit" asp-route-id="@cliente.RutCliente"><i class="fas fa-edit"></i></a>
                                    &nbsp;
                                    <a asp-action="Delete" asp-route-id="@cliente.RutCliente" onclick="return confirm('¿Estás seguro de que deseas eliminar este cliente?')"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9">No se encontraron clientes.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
@if (!string.IsNullOrEmpty(mensajeAgregado))
{
    <div id="mensajeAgregado" class="alert alert-success" role="alert">
        @mensajeAgregado
    </div>
}

@if (!string.IsNullOrEmpty(mensajeAdvertenciaAgregar))
{
    <div id="mensajeAdvertenciaAgregar" class="alert alert-warning" role="alert">
        @mensajeAdvertenciaAgregar
    </div>
}

@if (!string.IsNullOrEmpty(mensajeActualizado))
{
    <div id="mensajeActualizado" class="alert alert-success" role="alert">
        @mensajeActualizado
    </div>
}

@if (!string.IsNullOrEmpty(mensajeAdvertencia))
{
    <div id="mensajeAdvertencia" class="alert alert-warning" role="alert">
        @mensajeAdvertencia
    </div>
}

@if (!string.IsNullOrEmpty(mensajeEliminado))
{
    <div id="mensajeEliminado" class="alert alert-success" role="alert">
        @mensajeEliminado
    </div>
}

@section Scripts {
    <script>
        setTimeout(function() {
            var mensajeAgregado = document.getElementById("mensajeAgregado");
            if (mensajeAgregado) {
                mensajeAgregado.style.display = "none";
            }
            
            var mensajeAdvertenciaAgregar = document.getElementById("mensajeAdvertenciaAgregar");
            if (mensajeAdvertenciaAgregar) {
                mensajeAdvertenciaAgregar.style.display = "none";
            }
            
            var mensajeActualizado = document.getElementById("mensajeActualizado");
            if (mensajeActualizado) {
                mensajeActualizado.style.display = "none";
            }
            
            var mensajeAdvertencia = document.getElementById("mensajeAdvertencia");
            if (mensajeAdvertencia) {
                mensajeAdvertencia.style.display = "none";
            }
            
            var mensajeEliminado = document.getElementById("mensajeEliminado");
            if (mensajeEliminado) {
                mensajeEliminado.style.display = "none";
            }
        }, 3000);
    </script>
}